


@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montaga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





:root {

  --vm-primary: black;
  --vm-secondary: rgb(255, 255, 255);
  --vm-background-div: rgb(208, 71, 208);
  --vm-label-1: red;
  --vm-label-2: blue;
  --vm-label-3: gold;
  --vm-label-4: green;
  --vm-label-5: violet;
  --vm-label-6: blue;

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --font-size-xs:12px;
  --font-size-s:14px;
  --font-size-m:16px;
  --font-size-l:18px;
  --font-size-xl:20px;
  --font-size-xxl:24px;
  --font-size-extra-xxl:30px;
  --font-size-extra2-xxl:48px;

  --padding-xs:5px;
  --padding-s:10px;
  --padding-m:15px;
  --padding-l:20px;
  --padding-xl:25px;
  --padding-xxl:35px;
  --padding-extra-xxl:50px;
  --padding-extra2-xxl:60px;

  --margin-xs:5px;
  --margin-s:10px;
  --margin-m:15px;
  --margin-l:20px;
  --margin-xl:25px;
  --margin-xxl:35px;
  
  --gap-xs:5px;
  --gap-s:10px;
  --gap-m:15px;
  --gap-l:20px;
  --gap-xl:25px;
  --gap-xxl:35px;









}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
p{
  color: var(--vm-primary);
  font-size: var(--font-size-s);
} 

body{
  /* font-family: var(--primary-font); */
  color: var(--vm-primary);
  background-color: var(--vm-secondary);
  font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;

}

