.titleDiv {
    width: 100%;
    padding: var(--padding-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--font-size-xl);
}
.title, .title2{
    font-style: italic;
    font-weight: 300;
    font-size: 36;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}
.titleImagen {
    max-height: 500px;
    object-fit: contain;
}