.mainweblayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--margin-xxl);
}
.weblayouttitle {
    font-size: 80px;
    font-weight: 800;
    text-align: center;
}

.imgweblayout {
    padding: var(--padding-extra1-xxl);
    width: 90%;

    /* padding: var(--padding-l); */
}
.weblayout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    padding: var(--padding-l);
    max-width: 800px;
    gap: var(--gap-xl);

}