.seccionHola {
    min-height: auto;
    padding: var(--padding-xxl) var( --padding-extra2-xxl);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
    position: relative;
}
.presentacion {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    width: auto;
    margin-bottom: 50px;
    
}
.titleHello {
    position: relative;

}


.label-hello{
    height: 15px;
    width: 50px;
    background-color: var(--vm-background-div);
    position: absolute;
    left: -62px;
    top: 6px;
}
.hello{
    font-weight: 600;
    font-size: 21px;
}
.textopresentacion {
    font-size: 10px;
    font-weight: 400;
    max-width: 360px;
}
.firma {
    font-size: 14px;
    font-weight: 500;
}

.laboratoriosDiv {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    gap: var(--gap-xl);
}


.laboratorioDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.laboratorioDiv > h2 {
    font-size: var(--font-size-s);
    color: gray;
    font-weight: 300;
}

.severoochoa, .ukry{
    height: 40px;
}
.heidelberg {
    height: 80px;
}

@media (max-width: 900px){
    .seccionHola{
        flex-direction: column;
        align-items: center;
    }
    .presentacion {
        width: auto;
        margin-bottom: 0;
    }
}
